---
import Layout from "../layouts/Layout.astro";
import CardProcess from "../components/CardProcess.astro";
import { Image } from "astro:assets";
import heroImage from "../assets/tietosiru-kuva-1.webp";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <section class="bg-white border-border min-h-[70vh]">
      <div class="max-w-[1300px] w-[100%] ml-auto mr-auto p-10 pb-15">
        <div class="flex flex-row space-y-10 justify-between items-center">
          <div class="max-w-[600px]">
            <h1 class="flex flex-col text-[2.5rem] text-main">Palotutkinta</h1>
            <p class="text-gray mt-5">
              Tietosiru Oy on erikoistunut sähköisten syttymissyiden
              selvittämiseen. Voimme tehdä tutkintaa itsenäisesti, mutta
              useimmiten toimimme osana tutkintaryhmää, johon kuuluu
              viranomaisten lisäksi useita eri alojen ammattilaisia.
            </p>
            <div class="mt-10">
              <h2 class="text-[1.65rem] text-main mb-0.5">Palveluja</h2>
              <div class="h-[1px] w-[100%] bg-border mb-3"></div>
              <ul
                class="text-gray flex flex-col space-y-1 list-disc list-inside"
              >
                <li>Paikkatutkinta</li>
                <li>Palonäytteiden taltiointi ja laboratoriotutkinta</li>
                <li>Vahinkotilanteiden rekonstruointi</li>
                <li>Sähkölaitteiden polttokokeet</li>
                <li>Tutkintaselosteen laadinta</li>
                <li>Videoraportit</li>
              </ul>
            </div>
          </div>
          <div class="pl-10 h-[100%">
            <Image
              src={heroImage}
              width="500"
              alt="Kuvituskuva palotutkinnasta"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
